name: MQL5-Check-Code
on: [push]

jobs:
  mql-compile:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile MQL5
        # Sử dụng bản v6 mới nhất và ổn định nhất
        uses: x4m/mql-compile-action@v6
        with:
          path: 'Experts/MyEA.mq5'
          verbose: true
