name: Check-Loi-Code
on: [push]

jobs:
  mql-compile:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile MQL5
        # Sử dụng bản robot của Kozitw - rất ổn định
        uses: kozitw/mql-compile-action@v1.3.0
        with:
          path: 'Experts/MyEA.mq5'
          # Nếu bạn có file trong thư mục Include thì bỏ dấu # ở dưới
          # include: '.'
